[Unit]
Description=Check GitHub for Rabbiit node updates

[Timer]
OnBootSec=5min
OnUnitActiveSec=5min
RandomizedDelaySec=30s
Persistent=true
Unit=rabbiit-node-update.service

[Install]
WantedBy=timers.target
